<select id={{hourElementId}} class="form-control time-input-group-hour" {{action 'hourInputChanged' on='change'}}>
{{#each hoursSelectionContent as |period|}}
  <optgroup label={{period.label}}>
    {{#each period.content as |content|}}
      <option value="{{content.value}}" selected={{if (eq content.value hour) "selected"}}>
        {{content.label}}
      </option>
    {{/each}}
  </optgroup>
{{/each}}
</select>
<select id={{minuteElementId}} class="form-control time-input-group-minute" {{action 'minuteInputChanged' on='change'}}>
{{#each minutesSelectionContent as |content|}}
  <option value="{{content.value}}" selected={{if (eq content.value minute) "selected"}}>
    {{content.label}}
  </option>
{{/each}}
</select>
<span class='time-input-group-meridian'>{{meridian}}</span>
